#sidebar{
  width:240px;
  background:#443C69;
  border-right:1px solid rgba(255,255,255,.1);
}

.sidebar-nav{
  display:flex;
  flex-direction:column;
  padding:15px;
  gap:10px;
}

.nav-btn{
  padding:12px;
  border:none;
  border-radius:12px;
  cursor:pointer;
}
